<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="NflLiveScoreFeedUrl" value="http://www.nfl.com/liveupdate/scores/scores.json"/>
  </appSettings>
  <connectionStrings>
    <add name="RookieBettingDbConnString" connectionString="Server=[Server Address];Database=RookieBetting;User ID=[User ID];Password=[Password];Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>